astropy>=4.0.0
corner>=2.0.0
cmasher>=1.5.0
dill>=0.3.2
dynesty>=1.0.0
e13tools>=0.9.3
h5py>=2.10.0
hampyx>=2.4.0
healpy>=1.0.0
hickle>=4.0.1
mpi4py>=3.0.0
numpy>=1.18.0
pymultinest>=2.10.0
scipy>=1.1.0
ultranest>=2.2.1
