astropy>=4.0.0
corner>=2.0.0
cloudpickle>=1.6.0
cmasher>=1.5.0
dynesty>=1.0.0
e13tools>=0.9.3
emcee>=3.0.2
h5py>=2.10.0
hampyx>=2.4.0
healpy>=1.0.0
hickle>=4.0.1
mpi4py>=3.0.0
numpy>=1.18.0
pandas>=1.1.5
pymultinest>=2.10.0
scipy>=1.1.0
schwimmbad>=0.3.1
ultranest>=3.2.0
